/* ... HOME-PAGE STYLES START ... */

:root {
    --primary-color: rgba(68, 63, 123, 1);
    --text-color: white;
    --background-color: #f0f0f0;
    --font-size-base: 16px;
    --accent-color: rgb(149, 197, 172);
}

.dark-mode {
    --primary-color: #333333; /* dark mode header background */
    --text-color: #e0e0e0; /* Dark mode text */
    --bg-color: #121212; /* Dark mode background */
    --accent-color: #64b5f6; /* Dark mode accent */
}


.content-wrapper {
    padding: 10px; /*To create space*/
}


html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars affecting rendering */
}

body {
    min-height: 95vh; /* Body should always be at least 95% of the viewport height (but it can be more) */
    background-color: var(--background-color);
    background: url('../img/northern-lights-4038299_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Oswald-Regular', sans-serif;
    color: var(--text-color);
    font-size: var(--font-size-base);
}

header {
    min-height: 6vh;
    line-height: 6vh;
    font-size: 1 rem;
    background-color: var(--primary-color);
    display: flex; /* Enable Flexbox */
    align-items: center; /* Vertically align items */
    justify-content: space-between; /* Distribute space evenly */
    padding: 0 1rem; /* Add some padding on the sides */
}

.snowflake {
    position: absolute;
    top: -10px;
    background-color: white;
    border-radius: 50%; /* Makes them round */
    user-select: none;
    pointer-events: none;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8); /* Glow effect */
    filter: drop-shadow(0 0 10px white); 
}

@keyframes fall {
    from {
        top: -10%;
    }
    to {
        top: 100%;
    }
}

@keyframes sway {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(20px * var(--sway-direction)));
    }
    100% {
        transform: translateX(calc(-20px * var(--sway-direction)));
    }
}

.falling-object {
    position: absolute;
    top: -10px;
    user-select: none;
    pointer-events: none;
    animation: fallAndSway linear infinite, rotateWind 2s ease-in-out infinite; 
    filter: drop-shadow(0 0 10px white);
}

@keyframes fallAndSway {
    0% {
        top: -10%;
        transform: translateX(0); /* No horizontal movement at the start */
    }
    100% {
        top: 100%;
        transform: translateX(calc(50px * (var(--sway-direction, 1)))); /* Horizontal sway movement */
    }
}

@keyframes rotateWind {
    0% {
        transform: rotate(-20deg); /* Start with -20 degrees */
    }
    25% {
        transform: rotate(20deg); /* Rotate to +20 degrees */
    }
    50% {
        transform: rotate(-20deg); /* Rotate back to -20 degrees */
    }
    75% {
        transform: rotate(20deg); /* Rotate back to +20 degrees */
    }
    100% {
        transform: rotate(-20deg); /* Rotate back to -20 degrees */
    }
}



.toggle-btn {
    position: relative;
    height: 30px;
    width: 60px;
    background-color: #42455a;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .toggle-btn .icon {
    position: absolute;
    top: 50%;
    left: -1px;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    font-size: 20px;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #42455a;
    border: 1px solid #999;
    border-radius: 50%;
    transition: all 0.4s ease;
  }
  
  .toggle-btn.active {
    background: #e0ffff;
  }
  
  .toggle-btn.active .icon {
    left: calc(100% - 35px);
    color: #e0ffff;
    border: 1px solid #e0ffff;
  }
  
  .toggle-btn.active .icon i {
    animation: spin 0.5s;
  }
  
  @keyframes spin {
    to {
      transform: rotate(0.5turn);
    }
  }

nav {
    margin-top: 0;
}

nav a {
    color: white;
    display: inline-block;
    margin-left: 1rem; /*change margin top to left*/
    transition: transform 0.5s ease;
}

nav a:hover {
    color: var(--accent-color);
    transform: scale(1.15);
    
}

nav a.active-page {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0;
}

h2 {
    font-family: 'Oswald-Light', sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: underline;
}

h3 {
    font-family: 'Oswald-Light', sans-serif;
    color: white;
    font-size: 18px;
    text-decoration: underline;
    margin: 5px;
    padding-left: 18px;

}

a {
    text-decoration: none;
    margin: 1rem;
}

a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

.logo {
    margin-left: 2rem;
}

main { /*THIS IS IN THE HOME PAGE*/
    min-height: 85vh;
    padding-bottom: 50px;
}

.call-to-action {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
}

.websitelinks-container {
    display: flex; /* Horizontal stacking */
    justify-content: space-around;
    gap: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}


.index-container {
    display: flex; /* Horizontal stacking */
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    align-items: flex-start; /* Align items at the top */
    flex-wrap: wrap; /* Allow elements to wrap on smaller screens */
    padding: 5px;
    background-color: rgba(42, 23, 59, 0.3);/* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur the background */
    border: 1px solid rgba(234, 211, 255, 0.2); /* Subtle border */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */
    
}

/* Left column containing welcome text and datetime */
.left-column {
    display: flex;
    flex-direction: column; /* Stack welcome text and datetime vertically */
    align-items: flex-start;
    width: auto;
    padding: 10px;
}

#welcomeandate-container {
    max-width: 300px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    margin: auto;
}

#welcome-text {
    margin-top: 10px;
    padding: 2px;
    min-height: 50px; /* Adjust as needed */
    text-align: left;
}

#presentingdate-text {
    font-family: Arial, sans-serif;
    color: white;
    text-align: left;
}

#datetime {
    font-family: Arial, sans-serif;
    color: #333;
}

#datetime i {
    margin-right: 8px; 
    color: #6c757d;
    font-size: 1.2rem; /* Make the icons a bit bigger */
}

#time i {
    margin-right: 8px; 
    color: #6c757d;
    font-size: 1.2rem; /* Make the icons a bit bigger */
}

#datetime #date {
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

#datetime #time {
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}


/* Minicalendar */

.calendar-column {
    padding: 10px;
}

  .calendar {
    width: 200px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .calendar:hover {
    transform: scale(1.03);
  }

  .calendar-header {
    background: var(--primary-color);
    color: white;
    padding: 7px 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    font-weight: bold;
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 9px;
    font-size: 13px;
  }

  .day-name {
    font-weight: bold;
    color: #666;
  }

  .day {
    padding: 5px;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    transition: background 0.2s;
  }

  .day.today {
    background: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
  }

  .day.other-month {
    color: #ccc;
  }

  .day:hover {
    background: #e0e0e0;
  }


/* Middle column containing the virtual cat pet */
.middle-column {
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: flex-start;
    padding: 10px;
}

#virtualCat-container {
    max-width: 300px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    margin: auto;
}

#cat {
    width: 62px;               /* one frame width */
    height: 62px;              /* one frame height */
    background: url('../img/VirtualCat_idle_spritesheetB.png') 0 0 no-repeat;
    background-size: 62px 248px; /* width of one frame, total height of sheet */
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    image-rendering: pixelated; /* optional for crisp pixel art */
    will-change: background-position;
    transform: translateZ(0);   /* helps with smoothness */
    cursor: pointer;
    margin-bottom: 10px;
}

#fish {
    width: 62px;
    height: 62px;
    background: url('../img/fishA.png') no-repeat center/contain;
    image-rendering: pixelated;
    cursor: grab;
}





/* Right column containing weather info */
.right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
    padding: 10px;

}


.websitelinks-container .column {
    flex: 1;
}


  .column {  /* columns with glassmorphism effect*/
    padding: 5px;
    background-color: rgba(42, 23, 59, 0.3);/* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur the background */
    border: 1px solid rgba(234, 211, 255, 0.2); /* Subtle border */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */
    list-style-type: none;
    flex-direction: column;
}

.index-container .first-column {
    flex: 1;/* Each column takes equal width */
}

.first-column { /* first column with glassmorphism effect*/
    padding: 5px;
    background-color: rgba(42, 23, 59, 0.3);/* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur the background */
    border: 1px solid rgba(234, 211, 255, 0.2); /* Subtle border */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer-column {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
}

.inner-row {
    display: flex;
    width: 100%; /* Ensure the inner row takes up the full width */
}

.inner-column {
    flex: 1; /* Distribute space equally */
    border: none;
    padding: 5px;
    margin: 5px;
    border-left: 1px solid #ddd; /* Add a right border */
    padding-right: 10px; /* Optional: Add padding for spacing */
}



/*Weather API css*/

/*
#weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 24px;
    margin-top: 10px;
}*/

#weather-container {
    max-width: 300px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    margin: auto;
}

#city-name {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

#weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#weather-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 2px; /* Space between the icon and text */
    display: inline;
}

#weather-details {
    padding: 5px 0;
}

#weather-details p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

#weather-details p:first-child {
    font-size: 30px;
    font-weight: bold;
}

#weather-details p:last-child {
    font-size: 16px;
    font-weight: normal;
    color: #ccc; /* Lighter color for wind speed */
}



/* Searchbar css starts*/

#search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 15px auto;
}

#search-form {
    display: flex; /* Enable Flexbox on the form */
    align-items: center; /* Vertically align items */
    width: 600px; /* Adjust width as needed */
  }

#search-input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px; /* Round left corners */
    font-size: 16px;
    border-right: none; /* Remove right border */
}

#search-input:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 6px rgb(255, 255, 255); /* Add a glow */
  }

#search-button {
    padding: 11px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 0 4px 4px 0; /* Round right corners */
    font-size: 16px;
    cursor: pointer;
    border-left: none; /* remove left border */
}

#search-button:hover {
    box-shadow: 0 0 6px rgb(255, 255, 255); /* Add a glow */
}

/* Searchbar css ends*/





.column a:hover {
    text-decoration: none;
    color: var(--accent-color);
}

  .column h2 {
      text-align: center;
      margin-top: 20px;
  }
  
  .column ul {
      list-style-type: none; /* remove bullet points */
      padding: 0;
  }
  
  .column li {
      margin-bottom: 7px;
  }

  .column a {
    text-decoration: none;
    font-family: 'Nunito_Sans-Medium';
    color: rgb(255, 255, 255);
    font-size: 14px;
}

  ol {
    list-style-type: none; /* Removes the numbers */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margins */
  }

  .column ol {
    display: block;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Needed for absolute positioning of pseudo-element */
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  /*
  .column ol::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25%; 
    height: 1px;
    background-color: #ddd;
    } 

*/

/* Remove the last line */
.column ol:last-child::after {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 40px;
    background-color: var(--primary-color);
    z-index: 10;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Oswald-SemiBold';
    src: url('../fonts/Oswald/static/Oswald-SemiBold.ttf') format('truetype'); /* TTF format */
    font-weight: normal; /* Or the correct font-weight */
    font-style: normal; /* Or the correct font-style */
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald/static/Oswald-Regular.ttf') format('truetype'); /* TTF format */
    font-weight: normal; /* Or the correct font-weight */
    font-style: normal; /* Or the correct font-style */
}

@font-face {
    font-family: 'Oswald-Light';
    src: url('../fonts/Oswald/static/Oswald-Light.ttf') format('truetype'); /* TTF format */
    font-weight: normal; /* Or the correct font-weight */
    font-style: normal; /* Or the correct font-style */
}



@font-face {
    font-family: 'Nunito_Sans-Medium';
    src: url('../fonts/Nunito_Sans/static/NunitoSans_10pt-Medium.ttf') format('truetype'); /* TTF format */
    font-weight: normal; /* Or the correct font-weight */
    font-style: normal; /* Or the correct font-style */
}


/* ... HOME-PAGE STYLES END ... */






/* ... LIST-PAGE STYLES START ... */


body.list-page {
    min-height: 95vh; /* Body should always be at least 95% of the viewport height (be it can be more) */
    background-color: var(--background-color);
    background: url('../img/winter-6897046_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Oswald-Regular', sans-serif;
    color: var(--text-color);
    font-size: var(--font-size-base);
}

.list-page main { /* Styles for the list page */
    min-height: 85vh;
    padding-bottom: 50px;
    padding: 20px;
  }

  .lists-container {
    display: flex;
    gap: 20px;
    max-width: 1200px; /* Adjust this value as needed */
    margin: 20px auto; /* Center the container horizontally */
}


.listpage-first-column { /* first column with glassmorphism effect*/
    padding: 5px;
    background-color: rgba(42, 23, 59, 0.3);/* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur the background */
    border: 1px solid rgba(234, 211, 255, 0.2); /* Subtle border */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column {  /* columns with glassmorphism effect*/
    padding: 5px;
    background-color: rgba(42, 23, 59, 0.3);/* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur the background */
    border: 1px solid rgba(234, 211, 255, 0.2); /* Subtle border */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */
    list-style-type: none;
}

.shopping-list-wrapper{
    flex: 3;
    width: auto;
    border: 1px solid rgba(234, 211, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex; /* Make it a flex container */
    flex-direction: column; /* Stack children vertically */
    padding: 0px; /* Make sure this matches the to-do list wrapper padding */
}

.shopping-list-wrapper .column {
    background-color: rgba(42, 23, 59, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(234, 211, 255, 0.2);
    border-radius: 10px;
    flex: 1; /* Make the column take up all available space */
    padding: 0px; /* Check the padding on this element */
    flex: 1;
}


.todo-list-wrapper {
    flex: 7;
    width: auto;
    border: 1px solid rgba(234, 211, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex; /* Make it a flex container */
    flex-direction: column; /* Stack children vertically */
    padding: 0px; /* Make sure this matches the to-do list wrapper padding */
}

.todo-list-wrapper .column{
    background-color: rgba(42, 23, 59, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(234, 211, 255, 0.2);
    border-radius: 10px;
    padding: 0px; /* Check the padding on this element */
}

#new-shopping-item-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.shopping-list {
    border: none;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
}



.shopping-list ul {
    list-style: none;
    padding: 0;
}

.shopping-list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.5);
    border-radius: 8px;
    gap: 5px; /* Add some spacing between elements */
}

/* Label Styling */
.shopping-list ul li label {
    flex-grow: 1;
}

/* Checkbox Styling */
.shopping-list ul li input[type="checkbox"] {
    margin-right: 8px;
}

/* Completed Item Styling */
.completed,
.shopping-list .completed {
    text-decoration: line-through;
    color: gray;
}

#new-shopping-item-input {
    padding: 4px 2px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    width: 70%;
    margin: 2px 10px; /* Add margin */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#add-shopping-item-button{
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 150px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Add margin */
}

#add-item-button:hover {
    background-color: #3e8e41; /* Darker green */
}





#new-task-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


#category-select {
    padding: 4px 2px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin: 10px; /* Add margin */
}

.task-list {
    border: none;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
}

.task-list h2 {
    margin-top: 0;
    margin-left: 5px;
    text-align: left;
    
}

.task-list ul {
    list-style: none;
    padding: 0;
}

.task-list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list ul li label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task-list ul li.task-item {
    background-color: rgba(192, 192, 192, 0.5);
    border-radius: 8px;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically in the center */
    gap: 5px; /* Add some spacing between elements */
}

.task-item label {
    flex-grow: 1; /* Allow the label to take up remaining space */
}

.delete-task {
    padding: 5px 10px;
    background-color: rgb(54, 83, 163);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    flex-shrink: 0; /* Prevent buttons from shrinking */
}

.edit-task,
.save-task {
    padding: 5px 10px;
    background-color: rgb(149, 197, 172);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    flex-shrink: 0; /* Prevent buttons from shrinking */
}

.task-list li input[type="checkbox"] {
    margin-right: 10px;
}

.task-list li span.completed {
    text-decoration: line-through; /* Add line-through for completed tasks */
    color: #e7e7e7; /* Make completed tasks appear faded */
}

#new-task-input {
    padding: 4px 2px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    width: 70%;
    margin: 2px 10px; /* Add margin */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#add-task-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 150px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Add margin */
}

#add-task-button:hover {
    background-color: #3e8e41; /* Darker green */
}

/* ... LIST-PAGE STYLES END! ... */



/* ... TIMERS-PAGE STYLES START! ... */

body.timers-page {
    min-height: 95vh; /* Body should always be at least 95% of the viewport height (be it can be more) */
    background: url('../img/abstract1.png'); /* Different image */
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Oswald-Regular', sans-serif;
    color: var(--text-color);
    font-size: var(--font-size-base);
}




/* ... TIMERS-PAGE STYLES END! ... */





/* ... CALCULATORS-PAGE STYLES START! ... */

body.calculators-page {
    min-height: 95vh; /* Body should always be at least 95% of the viewport height (be it can be more) */
    background: url('../img/stars-2643089_1920.jpg'); /* Different image */
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Oswald-Regular', sans-serif;
    color: var(--text-color);
    font-size: var(--font-size-base);
}

.pomodoro-container {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    background-color: rgba(42, 23, 59, 0.3);/* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur the background */
    border: 1px solid rgba(234, 211, 255, 0.2); /* Subtle border */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */
    width: 300px; /* Adjust as needed */
    margin: 20px auto; /* Center the container horizontally */
}

#pomodoro-display {
    font-size: 3em;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(192, 192, 192, 0.5);
    border: 2px solid #3498db; /* Blue border for focus */
    border-radius: 6px;
    display: inline-block; /* Avoid full width */
    min-width: 150px;
  }

  #pomodoro-controls button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3498db; /* Blue background */
    color: white;
    transition: background-color 0.3s ease;
  }
  
  #pomodoro-controls button:hover {
    background-color: #2980b9; /* Darker blue on hover */
  }
  
  #pomodoro-controls button:active {
    background-color: #1f618d; /* Even darker blue on click */
  }

  /* Change display color when timer is running */
.pomodoro-container.running #pomodoro-display {
    border-color: #2ecc71; /* Green when running */
}

/*Change display color when timer is paused */
.pomodoro-container.paused #pomodoro-display {
    border-color: #f39c12; /* Orange when paused */
}

/* ... CALCULATORS-PAGE STYLES END! ... */


/* ... SHORTCUTS-PAGE STYLES START! ... */

body.shortcuts-page {
    min-height: 95vh; /* Body should always be at least 95% of the viewport height (be it can be more) */
    background: url('../img/bamboo-shadow-2421657_1920.jpg'); /* Different image */
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Oswald-Regular', sans-serif;
    color: var(--text-color);
    font-size: var(--font-size-base);
}


/* ... SHORTCUTS-PAGE STYLES END! ... */



/* ... FUNSTUFF-PAGE STYLES START! ... */

body.funstuff-page {
    min-height: 95vh; /* Body should always be at least 95% of the viewport height (be it can be more) */
    background: url('../img/abstract-2512412_1920.jpg'); /* Different image */
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Oswald-Regular', sans-serif;
    color: var(--text-color);
    font-size: var(--font-size-base);
}


/* ... SHORTCUTS-PAGE STYLES END! ... */













/* ... MEDIA QUERY STYLES START! ... */

/* This is a media query, which allows us to change the rules when the browser window is less than 701px wide */
@media screen and (max-width: 700px) {

    nav {
        position: static;
        display: block;
    }


}

@media screen and (max-width: 500px) {
    nav a { /* select all a elements but only if they are inside a nav */
        display: block;
    }
}


/* The below deals with flexboox so that it will stack the columns vertically on mobile */
@media (max-width: 768px) { /* Example breakpoint */
    .container {
      flex-direction: column; /* Stack columns vertically (Flexbox) */
      grid-template-columns: 1fr; /* Single column (Grid) */
    }
  }

  /* ... MEDIA QUERY STYLES END! ... */