/* ... HOME-PAGE STYLES START ... */

:root {
    --primary-color: rgba(68, 63, 123, 1);
    --text-color: white;
    --background-color: #f0f0f0;
    --font-size-base: 16px;
    --accent-color: rgb(149, 197, 172);
}

.content-wrapper {
    padding: 10px;
    border: 1px;
}


#datetime {
    font-family: 'Nunito_Sans-Medium', sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 100px;
      /* Add any other styles you want here */
    color: #ffffff; /* Example text color */
    background-color: none; /* Example background color */
     padding: 0px; /* Example padding */
     padding-top: 0px;
     border: none; /* Example border */
}


html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 95vh; /* Body should always be at least 95% of the viewport height (be it can be more) */
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Oswald-Regular', sans-serif;
    color: var(--text-color);
    font-size: var(--font-size-base);
}

.logo, nav {
    display: inline-block;
    transform: translate(0, -0.6rem);
    margin-top: 0.5rem;
}

header {
    min-height: 6vh;
    line-height: 6vh;
    font-size: 1 rem;
    background-color: rgba(68, 63, 123, 1)
}

nav {
    position: absolute;
    right: 2rem;
    margin-top: 0.5rem;
}

nav a {
    color: white;
}

nav a:hover {
    color: var(--accent-color);
}

h1 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0;
}

h2 {
    font-family: 'Oswald-Light', sans-serif;
    color: white;
    font-size: 16px;
    text-decoration: underline;
}

h3 {
    font-family: 'Oswald-Light', sans-serif;
    color: white;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 0;
    padding-left: 18px;

}

a {
    text-decoration: none;
    margin: 1rem;
}

a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

.logo {
    margin-left: 2rem;
}

main { /*THIS IS IN THE HOME PAGE*/
    background: url('../img/northern-lights-4038299_1920.jpg');
    min-height: 85vh;
    padding-bottom: 50px;
}

main h1 {
    color: white;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0); /* Center horizontally by using negative half of the element's width */

}








.call-to-action {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
}

.container {
    display: flex; /* Enable flexbox */
    justify-content: space-around; /* Distribute columns evenly */
    gap: 20px; /* Space between columns */
    padding: 0; /* Remove padding if you're using max-width */
    max-width: 1200px; /* Adjust this value as needed */
    margin-left: auto; /* Center the container */
    margin-right: auto; /* Center the container */
    margin-bottom: 20px; /* Space between container and first column */
  }

  
  .column {  /* columns with glassmorphism effect*/
    flex: 1; /* Each column takes equal width */
    padding: 5px;
    background-color: rgba(42, 23, 59, 0.3);/* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur the background */
    border: 1px solid rgba(234, 211, 255, 0.2); /* Subtle border */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */
    list-style-type: none;
}

.first-column { /* first column with glassmorphism effect*/
    flex: 1; /* Each column takes equal width */
    padding: 5px;
    background-color: rgba(42, 23, 59, 0.3);/* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur the background */
    border: 1px solid rgba(234, 211, 255, 0.2); /* Subtle border */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */ 
}


/* Searchbar css starts*/

#search-container {
    text-align: center;
    margin: 25px auto;
    width: 600px; /* Adjust width as needed */
}

#search-form {
    display: flex; /* Enable Flexbox on the form */
    align-items: center; /* Vertically align items */
  }

#search-input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px; /* Round left corners */
    font-size: 16px;
    border-right: none; /* Remove right border */
}

#search-input:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 6px rgb(255, 255, 255); /* Add a glow */
  }

#search-button {
    padding: 11px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 0 4px 4px 0; /* Round right corners */
    font-size: 16px;
    cursor: pointer;
    border-left: none; /* remove left border */
}

#search-button:hover {
    box-shadow: 0 0 6px rgb(255, 255, 255); /* Add a glow */
}

/* Searchbar css ends*/





.column a:hover {
    text-decoration: none;
    color: var(--accent-color);
}

  .column h2 {
      text-align: center;
      margin-top: 20px;
  }
  
  .column ul {
      list-style-type: none; /* remove bullet points */
      padding: 0;
  }
  
  .column li {
      margin-bottom: 10px;
  }

  .column a {
    text-decoration: none;
    font-family: 'Nunito_Sans-Medium';
    color: rgb(255, 255, 255);
    font-size: 14px;
}

  ol {
    list-style-type: none; /* Removes the numbers */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margins */
  }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 40px;
    background-color: rgba(68, 63, 123, 1);
    z-index: 10;
    text-align: center; /* Centers inline content inside a block element */
}

@font-face {
    font-family: 'Oswald-SemiBold';
    src: url('../fonts/Oswald/static/Oswald-SemiBold.ttf') format('truetype'); /* TTF format */
    font-weight: normal; /* Or the correct font-weight */
    font-style: normal; /* Or the correct font-style */
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald/static/Oswald-Regular.ttf') format('truetype'); /* TTF format */
    font-weight: normal; /* Or the correct font-weight */
    font-style: normal; /* Or the correct font-style */
}

@font-face {
    font-family: 'Oswald-Light';
    src: url('../fonts/Oswald/static/Oswald-Light.ttf') format('truetype'); /* TTF format */
    font-weight: normal; /* Or the correct font-weight */
    font-style: normal; /* Or the correct font-style */
}



@font-face {
    font-family: 'Nunito_Sans-Medium';
    src: url('../fonts/Nunito_Sans/static/NunitoSans_10pt-Medium.ttf') format('truetype'); /* TTF format */
    font-weight: normal; /* Or the correct font-weight */
    font-style: normal; /* Or the correct font-style */
}


/* ... HOME-PAGE STYLES END ... */






/* ... LIST-PAGE STYLES START ... */

.list-page main { /* Styles for the list page */
    background: url('../img/winter-6897046_1920.jpg'); /* Or a different color */
    font-family: sans-serif;
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 85vh;
    padding-bottom: 50px;
  }

.container {
    display: flex; /* Enable flexbox */
    justify-content: space-around; /* Distribute columns evenly */
    gap: 20px; /* Space between columns */
    padding: 0; /* Remove padding if you're using max-width */
    max-width: 1200px; /* Adjust this value as needed */
    margin-left: auto; /* Center the container */
    margin-right: auto; /* Center the container */
    margin-bottom: 20px; /* Space between container and first column */
  }

.first-column { /* first column with glassmorphism effect*/
    flex: 1; /* Each column takes equal width */
    padding: 5px;
    background-color: rgba(42, 23, 59, 0.3);/* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur the background */
    border: 1px solid rgba(234, 211, 255, 0.2); /* Subtle border */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */ 
}
.column {  /* columns with glassmorphism effect*/
    flex: 1; /* Each column takes equal width */
    padding: 5px;
    background-color: rgba(42, 23, 59, 0.3);/* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur the background */
    border: 1px solid rgba(234, 211, 255, 0.2); /* Subtle border */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */
    list-style-type: none;
}

#new-task-form {
    display: flex;
    margin-bottom: 20px;
}

#category-select {
    margin-right: 10px;
}

.task-list {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.task-list h2 {
    margin-top: 0;
}

.task-list ul {
    list-style: none;
    padding: 0;
}

.task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.task-list li input[type="checkbox"] {
    margin-right: 10px;
}

.task-list li span.completed {
    text-decoration: line-through; /* Add line-through for completed tasks */
    color: #728578; /* Make completed tasks appear faded */
}

/* ... LIST-PAGE STYLES END! ... */





/* ... CALCULATORS-PAGE STYLES START! ... */

  .calculators-page main { /* Styles for the contact page */
    background: url('../img/abstract1.png'); /* Different image */
    background-color: lightblue; /* Or a color */
    /* ... other styles ... */
  }

/* ... CALCULATORS-PAGE STYLES END! ... */







/* ... MEDIA QUERY STYLES START! ... */

/* This is a media query, which allows us to change the rules when the browser window is less than 701px wide */
@media screen and (max-width: 700px) {

    nav {
        position: static;
        display: block;
    }


}

@media screen and (max-width: 500px) {
    nav a { /* select all a elements but only if they are inside a nav */
        display: block;
    }
}


/* The below deals with flexboox so that it will stack the columns vertically on mobile */
@media (max-width: 768px) { /* Example breakpoint */
    .container {
      flex-direction: column; /* Stack columns vertically (Flexbox) */
      grid-template-columns: 1fr; /* Single column (Grid) */
    }
  }

  /* ... MEDIA QUERY STYLES END! ... */